@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

$Lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
	'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$TimesNewRoman: 'Times New Roman', Times, serif;
$Raleway: 'Raleway', sans-serif;
